<launch>
    <arg name="mav_name" default="firefly"/>

        <!--- Trajectory planner -->
        <node name="planner" pkg="basic_waypoint_pkg" type="basic_waypoint_pkg" output="screen" clear_params = "true">
            <rosparam command="load" file="$(find basic_waypoint_pkg)/config/trajectory_config.yaml"/>
        </node>

</launch>
